---
layout: default
---

<div class="home">
    <div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
        {{ site.theme.header_text }}
    </div>

    <ol class="posts">
        {% for post in site.posts reversed %}
        {% if post.goal == null and post.hide == null %}
        <li class="post-teaser">
            {% assign content = post.content | strip_newlines %}
            {% if post.link %}<a class="post-link external" href="{{post.link}}">{% endif %}
            {% if content != "" %}<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% endif %}
                {{ post.title }}
            {% if content != "" or post.link %}</a>{% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </div>

    <div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
        {{ site.theme.goal_text }}
    </div>

    <ol class="posts">
        {% for post in site.posts reversed %}
        {% if post.goal %}
        <li class="post-teaser">
            {% assign content = post.content | strip_newlines %}
            {% if content != "" %}<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% endif %}
                {{ post.title }}
            {% if content != "" %}</a>{% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </div>
</div>
