.content {
    clear: both;
}
.extended-title {
    display: none;
}

// Header text feature
.call-out {
    @extend %padding-regular;
    display: inline-block;
    width: 100%;
    background-color:$header-desc-background-color;
    background-size: cover;
    text-align: center;
    color: $header-desc-text-color;
}
.call-out p:last-child {
    margin-bottom: 0;
}
// Post listing
.posts {
    margin-bottom: 0;
    .post-link.external::after {
        content: '\279a';
    }
    .post-teaser {
        @extend %padding-regular;
        width: 100%;
        margin-bottom: 0;
        padding-top: 3%;
        padding-bottom: 0;
        background-size: $feature-image-size;
        p a:hover {
            @extend %link-hover;
        }
    }
    .post-teaser:first-child {
        padding-top: 7.5%;
    }
    .post-teaser:last-child {
        padding-bottom: 7.5%;
    }
    .excerpt {
        margin-top: 1em;
    }
}
// Pagination
.pagination .button {
    margin: 0 1.5em;
    i {
        vertical-align: middle;
    }
}
.pagination {
    padding: $padding-small $padding-large 0 $padding-large;
    text-align: center;
}
